
<%if(error_msg != '') { %>
      <div class="myclass">
      <%=error_msg%>
       </div>
<% } %>    

<%if(success_msg != '') { %>
      <div class="myclass2">
      <%=success_msg%>
       </div>
<% } %>    
 