@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100&family=Dancing+Script:wght@600&family=Montserrat:wght@100&family=Redressed&family=Shizuru&display=swap');

body{
    font-family:Barlow+Condensed;
}
.my-view{
    position:inherit !important;
    width:100% !important;
    height:100% !important;
    display:flex !important;
    align-items: center !important;
    border-bottom: 2px solid black !important;
}
.my-view p{
    padding-left: 15px;
}
.profile-img{
    position:relative;
    width:80px;
    left:8px;
    overflow: hidden;
    border:solid 1px rgba(0,0,0,0.3);
    height:80px;
    border-radius: 50px;
    display:flex;
    justify-content: center;
    align-items:center;
}
.profile-img img{
    position:relative;
    width: 100%;
    height:100%;
}
.my-view p{
    font-size:20px;
    font-weight: 500;
}